* {
  font-family: "Comfortaa", cursive;
}
.container h1 {
  font-size: 36px;
}
.container h2 {
  font-size: 25px;
  margin: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerCards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardsGrif {
  width: 300px;
  height: 550px;
  border: 3px solid red;
  border-radius: 6px;
  margin: 40px;
  color: red;
  padding: 0;
}
.cardHuf {
  width: 300px;
  height: 550px;
  border: 3px solid yellow;
  color: yellow;
  border-radius: 6px;
  margin: 40px;
  padding: 0;
}
.cardSli {
  width: 300px;
  height: 550px;
  color: green;
  border: 3px solid green;
  border-radius: 6px;
  margin: 40px;
  padding: 0;
}
.imgs {
  width: 300px;
  height: 300px;
}
.name {
  color: white;
}
.Btns {
  border: 3px solid green;
  background-color: lightgray;
  border-radius: 8px;
  width: 250px;
  height: 40px;
  font-size: 25px;
}
.Btns:hover {
  background-color: white;
  color: green;
  width: 259px;
  transition: 0.5s;
  font-size: 28px;
}
